body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .hero.section {
    padding: 0;
  }
  
  .hero .blured-background {
    width: 100%;
    height: 100%;
    position: absolute;
    /*filter: blur(1px);
    -webkit-filter: blur(1px);*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1474540412665-1cdae210ae6b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eaebfb6af1f3014a7b193b43d1a96d7b&auto=format&fit=crop&w=1362&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }